.game-board {
  margin: 0 auto;
  margin-top: 2em;

  > canvas {
    border: outset 5px #676767;
    border-radius: 5px;
  }

  .playing-card {
    background: white;
    border-radius: 10px;
    height: 200px;
    width: 150px;
  }
}
