.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  width: 100vw;

  .app-header {
    color: #14d0f8;
    text-align: center;
  }

  .app-main {
    display: flex;
    height: calc(100% - 60px);
    overflow: auto;
    width: 100%;
  }
}
